* {
    color: black;
}

a {
    color: white;
}

body {
    background-image: url("double-bubble-outline.png");
  }

#card-img-adjust {
    height: 100%;
    width: 50%;
}

#burlywood-bg {
    background-color: burlywood;
}