* {
    color: black;
}

body {
    background-image: url("./Images/double-bubble-outline/double-bubble-outline.png"); /* Pulled from subtlepatterns.com */
  }

a {
    color: white; /* For visibility */
}

.space {
    margin-top: 5%;
}

.tab {
    margin-left: 5%;
}

.blank {
    visibility: hidden;
}
